:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-color-dark-blur: rgba(0, 0, 0, 0.6000000238418579);
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-color-light-blur: rgba(255, 255, 255, 0.6000000238418579);
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-color-dark_one-100: rgba(44, 29, 57, 1);
  --dl-color-dark_one-200: rgba(88, 58, 115, 1);
  --dl-color-dark_one-300: rgba(132, 89, 171, 1);
  --dl-color-dark_one-400: rgba(174, 147, 200, 1);
  --dl-color-dark_one-500: rgba(217, 204, 229, 1);
  --dl-color-dark_one-600: rgba(225, 214, 234, 1);
  --dl-color-dark_one-700: rgba(232, 224, 239, 1);
  --dl-color-dark_one-800: rgba(240, 235, 245, 1);
  --dl-color-dark_one-900: rgba(247, 245, 250, 1);
  --dl-color-dark_two-100: rgba(32, 55, 54, 1);
  --dl-color-dark_two-200: rgba(64, 111, 108, 1);
  --dl-color-dark_two-300: rgba(97, 164, 161, 1);
  --dl-color-dark_two-400: rgba(153, 196, 194, 1);
  --dl-color-dark_two-500: rgba(208, 228, 227, 1);
  --dl-color-dark_two-600: rgba(217, 233, 233, 1);
  --dl-color-dark_two-700: rgba(227, 239, 238, 1);
  --dl-color-dark_two-800: rgba(236, 244, 244, 1);
  --dl-color-dark_two-900: rgba(246, 250, 249, 1);
  --dl-size-size-maxwidth: 1400px;
  --dl-color-dark_four-100: rgba(93, 23, 0, 1);
  --dl-color-dark_four-200: rgba(185, 46, 0, 1);
  --dl-color-dark_four-300: rgba(255, 81, 23, 1);
  --dl-color-dark_four-400: rgba(255, 150, 116, 1);
  --dl-color-dark_four-500: rgba(255, 219, 208, 1);
  --dl-color-dark_four-600: rgba(255, 227, 218, 1);
  --dl-color-dark_four-700: rgba(255, 234, 227, 1);
  --dl-color-dark_four-800: rgba(255, 241, 236, 1);
  --dl-color-dark_four-900: rgba(255, 248, 246, 1);
  --dl-color-light_one-100: rgba(247, 245, 250, 1);
  --dl-color-light_one-200: rgba(240, 235, 245, 1);
  --dl-color-light_one-300: rgba(232, 224, 239, 1);
  --dl-color-light_one-400: rgba(225, 214, 234, 1);
  --dl-color-light_one-500: rgba(217, 204, 229, 1);
  --dl-color-light_one-600: rgba(174, 147, 200, 1);
  --dl-color-light_one-700: rgba(132, 89, 171, 1);
  --dl-color-light_one-800: rgba(88, 58, 115, 1);
  --dl-color-light_one-900: rgba(44, 29, 57, 1);
  --dl-color-light_two-100: rgba(246, 250, 249, 1);
  --dl-color-light_two-200: rgba(236, 244, 244, 1);
  --dl-color-light_two-300: rgba(227, 239, 238, 1);
  --dl-color-light_two-400: rgba(217, 233, 233, 1);
  --dl-color-light_two-500: rgba(208, 228, 227, 1);
  --dl-color-light_two-600: rgba(153, 196, 194, 1);
  --dl-color-light_two-700: rgba(97, 164, 161, 1);
  --dl-color-light_two-800: rgba(64, 111, 108, 1);
  --dl-color-light_two-900: rgba(32, 55, 54, 1);
  --dl-radius-radius-round: 50%;
  --dl-color-dark_three-100: rgba(85, 57, 2, 1);
  --dl-color-dark_three-200: rgba(170, 113, 5, 1);
  --dl-color-dark_three-300: rgba(248, 168, 13, 1);
  --dl-color-dark_three-400: rgba(251, 198, 98, 1);
  --dl-color-dark_three-500: rgba(253, 229, 183, 1);
  --dl-color-dark_three-600: rgba(253, 234, 197, 1);
  --dl-color-dark_three-700: rgba(254, 239, 212, 1);
  --dl-color-dark_three-800: rgba(254, 245, 226, 1);
  --dl-color-dark_three-900: rgba(255, 250, 241, 1);
  --dl-color-light_four-100: rgba(255, 248, 246, 1);
  --dl-color-light_four-200: rgba(255, 241, 236, 1);
  --dl-color-light_four-300: rgba(255, 234, 227, 1);
  --dl-color-light_four-400: rgba(255, 227, 218, 1);
  --dl-color-light_four-500: rgba(255, 219, 208, 1);
  --dl-color-light_four-600: rgba(255, 150, 116, 1);
  --dl-color-light_four-700: rgba(255, 81, 23, 1);
  --dl-color-light_four-800: rgba(185, 46, 0, 1);
  --dl-color-light_four-900: rgba(93, 23, 0, 1);
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-default-overlay: rgba(0, 0, 0, 1);
  --dl-color-light_three-100: rgba(255, 250, 241, 1);
  --dl-color-light_three-200: rgba(254, 245, 226, 1);
  --dl-color-light_three-300: rgba(254, 239, 212, 1);
  --dl-color-light_three-400: rgba(253, 234, 197, 1);
  --dl-color-light_three-500: rgba(253, 229, 183, 1);
  --dl-color-light_three-600: rgba(251, 198, 98, 1);
  --dl-color-light_three-700: rgba(248, 168, 13, 1);
  --dl-color-light_three-800: rgba(170, 113, 5, 1);
  --dl-color-light_three-900: rgba(85, 57, 2, 1);
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-dark_element-100: rgba(255, 255, 255, 1);
  --dl-color-dark_element-200: rgba(243, 243, 243, 1);
  --dl-color-dark_element-300: rgba(227, 227, 227, 1);
  --dl-color-dark_element-400: rgba(198, 198, 198, 1);
  --dl-color-dark_element-500: rgba(170, 170, 170, 1);
  --dl-color-dark_element-600: rgba(142, 142, 142, 1);
  --dl-color-dark_element-700: rgba(113, 113, 113, 1);
  --dl-color-dark_element-800: rgba(85, 85, 85, 1);
  --dl-color-dark_element-900: rgba(57, 57, 57, 1);
  --dl-space-space-threeunits: 48px;
  --dl-color-dark_element-1000: rgba(28, 28, 28, 1);
  --dl-color-dark_element-1100: rgba(0, 0, 0, 1);
  --dl-color-light_element-100: rgba(0, 0, 0, 1);
  --dl-color-light_element-200: rgba(28, 28, 28, 1);
  --dl-color-light_element-300: rgba(57, 57, 57, 1);
  --dl-color-light_element-400: rgba(85, 85, 85, 1);
  --dl-color-light_element-500: rgba(113, 113, 113, 1);
  --dl-color-light_element-600: rgba(142, 142, 142, 1);
  --dl-color-light_element-700: rgba(170, 170, 170, 1);
  --dl-color-light_element-800: rgba(198, 198, 198, 1);
  --dl-color-light_element-900: rgba(227, 227, 227, 1);
  --dl-color-light_element-1000: rgba(243, 243, 243, 1);
  --dl-color-light_element-1100: rgba(255, 255, 255, 1);
  --dl-color-dark_background-100: rgba(0, 0, 0, 1);
  --dl-color-dark_background-200: rgba(28, 28, 28, 1);
  --dl-color-dark_background-300: rgba(57, 57, 57, 1);
  --dl-color-dark_background-400: rgba(85, 85, 85, 1);
  --dl-color-dark_background-500: rgba(113, 113, 113, 1);
  --dl-color-dark_background-600: rgba(142, 142, 142, 1);
  --dl-color-dark_background-700: rgba(170, 170, 170, 1);
  --dl-color-dark_background-800: rgba(198, 198, 198, 1);
  --dl-color-dark_background-900: rgba(227, 227, 227, 1);
  --dl-color-dark_background-1000: rgba(243, 243, 243, 1);
  --dl-color-dark_background-1100: rgba(255, 255, 255, 1);
  --dl-color-light_background-100: rgba(255, 255, 255, 1);
  --dl-color-light_background-200: rgba(243, 243, 243, 1);
  --dl-color-light_background-300: rgba(227, 227, 227, 1);
  --dl-color-light_background-400: rgba(198, 198, 198, 1);
  --dl-color-light_background-500: rgba(170, 170, 170, 1);
  --dl-color-light_background-600: rgba(142, 142, 142, 1);
  --dl-color-light_background-700: rgba(113, 113, 113, 1);
  --dl-color-light_background-800: rgba(85, 85, 85, 1);
  --dl-color-light_background-900: rgba(57, 57, 57, 1);
  --dl-color-light_background-1000: rgba(28, 28, 28, 1);
  --dl-color-light_background-1100: rgba(0, 0, 0, 1);
  --dl-space-space-oneandhalfunits: 24px;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.teleport-show {
  display: flex !important;
  transform: none !important;
}
.ButtonExtra {
  font-size: 20px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadlineHeadline6 {
  font-size: 16px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.Heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.ButtonTiny {
  font-size: 10px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 500px;
  font-stretch: normal;
}
.BodyDefault {
  font-size: 16px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 400px;
  font-stretch: normal;
}
.BodyLarge {
  font-size: 18px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 400px;
  font-stretch: normal;
}
.DisplayDisplay03 {
  font-size: 48px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.HeadlineHeadline4 {
  font-size: 24px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.StoreAa {
  font-size: 200px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 900px;
  font-stretch: normal;
}
.Lead {
  font-size: 14px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.ButtonLarge {
  font-size: 18px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 500px;
  font-stretch: normal;
}
.HeadlineHeadline1 {
  font-size: 40px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadingHeading2 {
  font-size: 88px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.StoreBody {
  font-size: 32px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 400px;
  font-stretch: normal;
}
.StoreSubHero {
  font-size: 40px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 400px;
  font-stretch: normal;
}
.BodyMini {
  font-size: 12px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 400px;
  font-stretch: normal;
}
.DisplayDisplay02 {
  font-size: 56px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.DisplayDisplay01 {
  font-size: 64px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.StoreHero {
  font-size: 110px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.Capitalized {
  font-size: 14px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 500px;
  font-stretch: normal;
}
.ButtonSmall {
  font-size: 14px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 500px;
  font-stretch: normal;
}
.BodySmall {
  font-size: 14px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 400px;
  font-stretch: normal;
}
.ButtonMini {
  font-size: 12px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 500px;
  font-stretch: normal;
}
.StoreTitle {
  font-size: 40px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlineHeadline2 {
  font-size: 32px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.ButtonDefault {
  font-size: 16px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 500px;
  font-stretch: normal;
}
.BodyExtra {
  font-size: 20px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 400px;
  font-stretch: normal;
}
.HeadingHeading3 {
  font-size: 80px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadingHeading1 {
  font-size: 96px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlineHeadline3 {
  font-size: 28px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadlineHeadline5 {
  font-size: 18px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
.HeadingHeading4 {
  font-size: 72px;
  font-style: normal;
  font-family: Aeonik;
  font-weight: 700px;
  font-stretch: normal;
}
